<!doctype html>
<html>

<head>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <main role="main" class="container-fluid">
        {{ .Content }}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easyXDM/2.4.20/easyXDM.debug.js" integrity="sha256-Evi1OoTOZLm7NlstGjWpVf9vo7nuTn0Ivns0F19Yy3Y="
        crossorigin="anonymous"></script>
    <script src="https://jailbreak.frama.io/easyxdm-rpc/provider.js"></script>
</body>

</html>